html {
    overflow: hidden;
}

body {
    background-color: transparent;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 var(--ripple-color);
        opacity: 0.8;
    }
    100% {
        box-shadow: 0 0 0 30px var(--ripple-color);
        opacity: 0;
    }
}

.animate-ripple {
    animation: ripple 1.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}